# netlify.toml
[build]
  base = "invariant-web"
  command = "npm run build"
  publish = ".next"

[context.production.environment]
  NODE_VERSION = "20"
  # We point the app to ITSELF (relative path)
  # This tricks the browser into thinking it's secure
  NEXT_PUBLIC_API_URL = "/api-proxy" 

[[plugins]]
  package = "@netlify/plugin-nextjs"

# THE MAGIC TRICK:
# This tells Netlify: "When someone hits /api-proxy, send them to the Raw IP"
[[redirects]]
  from = "/api-proxy/*"
  to = "http://16.171.151.222:3000/:splat"
  status = 200
  force = true