name: invariant_sdk
description: "Hardware-backed device verification and fraud filtering."
version: 1.0.4
homepage: https://invariant.tech

environment:
  sdk: '>=3.2.0 <4.0.0'
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  # Add this:
  http: ^1.2.0 
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: tech.invariant.invariant_sdk
        pluginClass: InvariantSdkPlugin