# invariant_sdk/pubspec.yaml
name: invariant_sdk
description: "Hardware-backed device verification and fraud filtering for the Invariant Protocol."
version: 1.0.4
homepage: https://invariantprotocol.com/docs
repository: https://github.com/KarmaYama/invariant-monorepo/tree/main/invariant_sdk

environment:
  sdk: '>=3.2.0 <4.0.0'
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0 
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: tech.invariant.invariant_sdk
        pluginClass: InvariantSdkPlugin