@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --cyber: #00FFC2;
}

/* In Tailwind v4, standard CSS variables are the way to theme.
  No need for complex @layer directives for basic setup.
*/

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar for Chrome/Safari/Webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--cyber);
}